.dashboard-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.categories-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.category-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.category-item h2 {
  margin: auto 0 auto;
}

.graph-container {
  margin-top: 20px;
}